body {
	font-family: 'Roboto', sans-serif;

	background: #252525;
	color: #fff;
	text-align: center;
}

header {
	padding: 200px 0 75px;
}

h1 {
	font-size: 72px;
}

h1 span {
	background: -webkit-linear-gradient(
		-70deg, #C63D1F 0%, #CCB76D 100%);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-box-decoration-break: clone;
}
